parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Notifications\\\\Notification\\:\\:toOneSignal\\(\\)\\.$#"
			count: 1
			path: src/OneSignalChannel.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/OneSignalMessage.php
